####---- Database -------------------------------------------------------------
DATABASE_URL="postgres://postgres:postgres@localhost:5432/postgres"
SHADOW_DATABASE_URL="postgres://postgres:postgres@localhost:5432/postgres"

####---- NextAuth -------------------------------------------------------------
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here-change-this-in-production"
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

####---- Utilities ------------------------------------------------------------
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_APP_VERSION="0.1.0"
